<!DOCTYPE html>
<html ng-app="myApp" ng-strict-di>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ng-bind="title"></title>
    @*<script src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places"></script>*@
    <script src="https://maps.google.com/maps/api/js?&key=AIzaSyCQtLDp2kRmQ7lAHRO5V8tGYYJ9vjCiTbU&libraries=placeses,visualization,drawing,geometry,places"></script>

    @Scripts.Render("~/bundles/angularLib")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/angularCss")
    @Styles.Render("~/Content/css")

</head>

<body ng-style="">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("SHE Software", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				@Html.Partial("_NavBarPartial")
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>

	<div class="container body-content ">
		<div ng-view></div>
		@RenderBody()
	</div>

	<footer class="footer">
		<div class="container">
            <p>&copy; @DateTime.Now.Year - SHE Software - Prism House, 2 Rankine Avenue, East Kilbride, G75 0QF, United Kingdom.</p>
		</div>
	</footer>

	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/bootstrap")


	@Scripts.Render("~/Scripts/jquery-3.1.1.js")
	@RenderSection("scripts", required: false)
</body>
</html>